.colorcaja{
margin-top: 20px;
border: 5px solid #CAEAE6;
background-color: #3662D1;
color:white;
}
.cl{
	margin-top:20px;
	border: 5px solid #969191;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
ul li { 
  
} 
#punteada{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
border-style: dotted; 
  	border-width: 5px; 
  	border-color: #22DA63; 
  	background-color: cc3366; 
  	font-size: 15pt; 
  	border-bottom-right-radius: 50px;


}